@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Source Serif 4", Georgia, "Times New Roman", serif;
  --font-serif: "Playfair Display", Georgia, "Times New Roman", serif;
}

:root {
  --ui-primary: var(--ui-color-primary-700);
}

.dark {
  --ui-primary: var(--ui-color-primary-300);
}
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-serif {
  font-family: var(--font-serif);
}
